services:
  jenkins:
    build:
      context: ./jenkins
    container_name: ulala-jenkins
    user: root
    ports:
      - "8080:8080"
      - "50000:50000"
    environment:
      - JAVA_OPTS=-Djenkins.install.runSetupWizard=false
    volumes:
      - jenkins_home:/var/jenkins_home
      - /var/run/docker.sock:/var/run/docker.sock
      - ./:/workspace
    restart: unless-stopped

volumes:
  jenkins_home:
